**/.DS_Store
**/.idea
**/__pycache__
**/cmake-build-release/
**/cmake-build-debug/
grb-trigger-algorithms/algorithms/tests/
grb-trigger-algorithms/algorithms/pfocus_minimal_test.py
grb-trigger-algorithms/algorithms_c/pfocus_c/elements/
grb-trigger-algorithms/algorithms_c/pfocus_c/tests/
grb-trigger-algorithms/computational_efficiency/inputs/*
grb-trigger-algorithms/data/*.zip
grb-trigger-algorithms/data/*.fits
grb-trigger-algorithms/detection_performances/outputs/*
grb-trigger-algorithms/detection_performances/plots/*
grb-trigger-algorithms/visualization/outputs/*